.bg-col-orange-1{
    background-color: #D47F5F;
}
.bg-col-orange-2{
    background-color: #D6A36C;
}
.bg-col-gray{
    background-color: #595959;
}
.bg-col-green{
    background-color: greenyellow;
}